<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Progit — By Scott Chacon</title>
    <style type="text/css" media="screen">
      body {
        font-family: "Minion Pro", Georgia;
        width: 32em;
        margin-left: 2em;
      }

      code {
        font-family: monospace;
      }

      #chapters {
        float: right;
        margin: 6ex 0 4ex 2em;
      }

      #footer {
        text-align: center;
        margin-bottom: 6ex;
      }

      #footer a {
        text-decoration: none;
      }

      #fleuron {
        margin: 6ex 0 8ex 0;
      }

    </style>
  </head>

  <body>
    <div id="chapters">
      <ol>
        <li><a href="01-chapter1">Getting Started</a></li>
        <li><a href="01-chapter2">Git Basics</a></li>
        <li><a href="01-chapter3">Git Branching</a></li>
        <li><a href="01-chapter4">Git on the Server</a></li>
        <li><a href="01-chapter5">Distributed Git</a></li>
        <li><a href="01-chapter6">Git Tools</a></li>
        <li><a href="01-chapter7">Customizing Git</a></li>
        <li><a href="01-chapter8">Git and Other Systems</a></li>
        <li><a href="01-chapter9">Git Internals</a></li>
      </ol>
    </div>
