<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Progit — By Scott Chacon</title>
    <style type="text/css" media="screen">
      body {
        font-family:"Minion Pro";
        width: 32em;

        margin-left:2em;
      }

      ol li {
        list-style-type: none;
      }

      code {
        font-family:monospace;
      }

      #chapters {
        float:right;
        margin:6ex 0 8ex 4em;
      }

      #footer {
        text-align:center;
        margin-bottom:6ex;
      }

      #footer a {
        text-decoration: none;
      }

      #fleuron {
        margin:6ex 0 8ex 0;
      }

    </style>
  </head>

  <body>
    <div id="chapters">
      <ol>
        <li><a href="01-chapter1">Chapter 1</a></li>
        <li><a href="01-chapter2">Chapter 2</a></li>
        <li><a href="01-chapter3">Chapter 3</a></li>
        <li><a href="01-chapter4">Chapter 4</a></li>
        <li><a href="01-chapter5">Chapter 5</a></li>
        <li><a href="01-chapter6">Chapter 6</a></li>
        <li><a href="01-chapter7">Chapter 7</a></li>
        <li><a href="01-chapter8">Chapter 8</a></li>
        <li><a href="01-chapter9">Chapter 9</a></li>
      </ol>
    </div>
