ul {
	margin: 20px;
}

ol {
	margin: 20px;
}

body pre {
	margin: 10px;
	font-weight: bold;
}

body pre2 {
	background-color: silver;
	padding: 10px;
	border-top-style: solid;
	border-left-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
	white-space: pre-wrap; /* css-3 */
}
